.rich-search-container {
  font-size: 16px;
  padding: 0;
  margin: 0 0 12px; }
  @media only screen and (min-width: 992px) {
    .rich-search-container {
      background: #FDFDFD;
      padding: 4px 7px;
      border-radius: 26px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
      -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
      -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset; } }

.rich-search-terms {
  padding: 0;
  margin: 0 !important; }
  .rich-search-terms li {
    background: #FFF;
    color: #000;
    margin: 6px 0;
    padding: 7px 12px;
    vertical-align: middle;
    border: 1px solid #CCC;
    cursor: text;
    position: relative;
    border-radius: 20px;
    width: 100%;
    display: block; }
    .rich-search-terms li:before, .rich-search-terms li:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .rich-search-terms li:after {
      clear: both; }
    .rich-search-terms li.new, .rich-search-terms li.active {
      box-shadow: 0 2px 1px #EEE inset;
      -moz-box-shadow: 0 2px 1px #EEE inset;
      -webkit-box-shadow: 0 2px 1px #EEE inset;
      -ms-box-shadow: 0 2px 1px #EEE inset;
      -o-box-shadow: 0 2px 1px #EEE inset; }
      .rich-search-terms li.new span.key,
      .rich-search-terms li.new .input, .rich-search-terms li.active span.key,
      .rich-search-terms li.active .input {
        float: left; }
    .rich-search-terms li.focus {
      border: 1px solid #51cbee;
      box-shadow: 0 0 5px #51cbee;
      -moz-box-shadow: 0 0 5px #51cbee;
      -webkit-box-shadow: 0 0 5px #51cbee;
      -ms-box-shadow: 0 0 5px #51cbee;
      -o-box-shadow: 0 0 5px #51cbee; }
    .rich-search-terms li.complete {
      background-color: #333;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      color: #FFF;
      padding-top: 8px;
      padding-bottom: 8px;
      border-color: transparent;
      box-shadow: none;
      cursor: pointer; }
  .rich-search-terms .input {
    font-size: 16px;
    background: none;
    color: #000;
    display: block;
    outline: 0;
    border: 1px transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: none; }
  .rich-search-terms span {
    display: inline-block; }
  .rich-search-terms span.key {
    margin-right: 6px;
    font-weight: bold; }
    .rich-search-terms span.key:after {
      content: ':';
      margin: 0 0 0 2px; }
  .rich-search-terms span.value {
    padding-right: 26px; }
  @media only screen and (min-width: 768px) {
    .rich-search-terms li {
      margin: 0 3px 6px; }
      .rich-search-terms li.new {
        margin-left: 0; }
      .rich-search-terms li.complete {
        display: inline-block;
        width: auto; } }
  @media only screen and (min-width: 992px) {
    .rich-search-terms li {
      width: auto;
      margin: 3px 6px 3px 0;
      display: inline-block;
      width: auto; }
    .rich-search-terms span {
      display: inline-block; } }

span.close {
  border: 1px solid #A5A5A5;
  border-radius: 20px;
  color: #aaa;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 8px;
  margin: -11px 0 0; }
  span.close i {
    font: 20px/15px Arial;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    display: block; }
  span.close:hover {
    border: 1px solid dodgerblue;
    color: dodgerblue; }

.rich-search-suggestions-container {
  background: rgba(51, 51, 51, 0.85);
  color: #eee;
  float: left;
  max-height: 210px;
  min-width: 200px;
  overflow: auto;
  position: absolute;
  z-index: 99; }
  .rich-search-suggestions-container ul,
  .rich-search-suggestions-container li {
    list-style: none;
    padding: 0;
    margin: 0 !important; }
  .rich-search-suggestions-container li {
    padding: 2px 5px; }
    .rich-search-suggestions-container li.hover {
      background: #0556A3;
      cursor: pointer; }
    .rich-search-suggestions-container li.active {
      background-color: dodgerblue; }

span.operator {
  color: #999;
  font-size: .8em;
  margin: 0 4px; }
